# Mac OS системные файлы
.DS_Store
.bowerrc
Thumbs.db

# Кеш и временные файлы Yii2
runtime/
web/assets/
vendor/

# Конфигурационные файлы сред разработки
.env
.idea/
.vscode/
nbproject/
*.iml

# Логи и дампы
*.log
*.sql
*.sqlite

# Composer файлы
composer.phar

# Файлы Composer
/vendor/
/composer.lock

# Загрузки
/web/uploads/
